@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Bebas Neue", cursive;
  width: 100vw;
  height: 100vh;
}
.container {
  text-align: center;
  padding: 0;
  margin: 0;
  min-width: 100%;
  min-height: 100%;
}
.topBar {
  display: inline;
  min-width: 100%;
  min-height: 100%;
  border-top: 5px solid aquamarine;
}
#logo {
  width: 200px;
}
.ul-box {
  display: inline;
  margin-left: 90%;
}

a:link {
  list-style: none;
  color: black;
}
a:link,
a:visited {
  color: black;
  list-style: none;
  text-decoration: none;
}
li {
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  list-style: none;
  padding-left: 25px;
  display: inline;
  margin: 0 0 0 15px;
}
.title {
  padding: 25px;
  margin: 15px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
}
.main {
  box-sizing: border-box;
  margin-left: 35%;
  margin-right: 35%;
  display: inline-block;
}
h4 {
  padding: 0;
  margin: 15px;
  font-size: 30px;
  text-align: center;
}
input {
  padding: 20px;
  padding-left: 120px;
}
button {
  text-align: center;
  margin-top: 15px;
  margin-left: 0;
  padding: 10px;
  width: 67%;
  background: rgb(12, 8, 80);
  background: linear-gradient(
    90deg,
    rgba(12, 8, 80, 1) 35%,
    rgba(22, 169, 208, 1) 55%,
    rgba(0, 255, 239, 0.9755252442773985) 100%
  );
}
#resultado {
  font-size: 35px;
  text-align: center;
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}
/*RESPONSIVIDADE*/

@media (max-width: 420px) {
  * {
    padding: 0;
    margin: 0;
  }
  body,
  html {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
  }
  .container {
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
  }
  .topBar {
    display: inline;
    min-width: 100%;
    margin: 0;
  }
  input {
    padding: 10px;
    padding-left: 60px;
  }
  #logo {
    width: 200px;
  }
  .ul-box {
    display: inline;
  }
  ul {
    margin: 0;
  }
  .main {
    box-sizing: border-box;
    margin: -5px;
    display: inline-block;
  }
  button {
    text-align: center;
    margin-top: 15px;
    margin-left: 0;
    padding: 10px;
    width: 57%;
    background: rgb(12, 8, 80);
    background: linear-gradient(
      90deg,
      rgba(12, 8, 80, 1) 35%,
      rgba(22, 169, 208, 1) 55%,
      rgba(0, 255, 239, 0.9755252442773985) 100%
    );
  }
  .title {
    padding: 0;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
  }
  h1{
    padding: 15px 0;
    font-size: 20px;
  }
  h4 {
    padding: 30px 0;
    margin: 15px;
    font-size: 20px;
    text-align: center;
  }

}
